@model List<TicketShop.Domain.DomainModels.Order>

<div class="container">
    <div class="bg-info text-white p-5">
        <h1>All Orders</h1>
    </div>
    <table class="table mt-5">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Customer Details</th>
                <th scope="col">Number of tickets</th>
                <th scope="col">Total Price</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                var item = Model[i];
                var totalPrice = 0.0;
                var numTickets = 0;

                for (int j = 0; j < item.TicketsInOrder.Count(); j++)
                {
                    totalPrice += item.TicketsInOrder.ElementAt(j).ticket.TicketPrice * item.TicketsInOrder.ElementAt(j).Quantity;
                    numTickets += item.TicketsInOrder.ElementAt(j).Quantity;
                }

                <tr>
                    <th scope="row">@(i+1)</th>
                    <td>@item.ApplicationUser.Email</td>
                    <td>@numTickets</td>
                    <td>@totalPrice</td>
                    <td><a class="btn btn-outline-info" asp-action="Details" asp-route-orderId="@item.Id">Details</a></td>
                    <td><a class="btn btn-outline-success" asp-action="CreateOrderInvoice" asp-route-orderId="@item.Id">Create Invoice</a></td>
                </tr>

            }
        </tbody>


    </table>

</div>